In [284]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import collections
from datetime import datetime
from collections import Counter
from pandas import DataFrame
import calendar
from itertools import combinations

In [285]:
Original_data = pd.read_csv('movie_bd_v5.csv')
Original_data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
540,tt0120681,35000000,74558115,From Hell,Johnny Depp|Heather Graham|Ian Holm|Robbie Col...,Albert Hughes|Allen Hughes,Only the legend will survive.,Frederick Abberline is an opium-huffing inspec...,122,Horror|Mystery|Thriller,Twentieth Century Fox Film Corporation|Underwo...,10/19/2001,6.4,2001
1841,tt0183505,51000000,149270999,"Me, Myself & Irene",Jim Carrey|RenÃ©e Zellweger|Anthony Anderson|R...,Peter Farrelly|Bobby Farrelly,From gentle to mental.,Rhode Island State Trooper Charlie Baileygates...,116,Comedy,Twentieth Century Fox Film Corporation|Conundr...,6/22/2000,5.9,2000
759,tt1306980,8000000,39187783,50/50,Joseph Gordon-Levitt|Seth Rogen|Anna Kendrick|...,Jonathan Levine,It takes a pair to beat the odds.,"Inspired by a true story, a comedy centered on...",100,Comedy|Drama,Summit Entertainment|Mandate Pictures,9/30/2011,6.8,2011
1528,tt0446046,30000000,34742066,Take the Lead,Antonio Banderas|Rob Brown|Yaya DaCosta|Alfre ...,Liz Friedlander,Never Follow,A former professional dancer volunteers to tea...,108,Music,New Line Cinema|Tiara Blu Films,3/17/2006,6.4,2006
1561,tt0378194,30000000,152159461,Kill Bill: Vol. 2,Uma Thurman|David Carradine|Daryl Hannah|Micha...,Quentin Tarantino,The bride is back for the final cut.,The Bride unwaveringly continues on her roarin...,136,Action|Crime|Thriller,Miramax Films|A Band Apart|Super Cool ManChu,4/16/2004,7.5,2004

In [286]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [287]:
answers = {} # создадим словарь для ответов
data = {}
data = Original_data.copy() # Create a copy in order not to make changes to the original database.


# Create a profit column
data['profit'] = data['revenue'] - data['budget'] 
#the time given in the dataset is in string format.
# So we need to change this in datetime format

data.release_date = pd.to_datetime(data['release_date'])
# Split columns and list them

def spliter (in_str):
    return list(in_str.split("|")) 

data.genres = data.genres.apply(spliter) 
data.director = data.director.apply(spliter)
data.cast = data.cast.apply(spliter)


def cols_counter (x_ser):
    x_dict = {}
    for x_list in x_ser:
        for x in x_list:
            x_dict.setdefault(x, 0)
            x_dict[x] += 1
    return DataFrame.from_dict(x_dict, orient='index',columns=["col"])\
             .sort_values(by="col",ascending=False)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [288]:
data_budget = data[data.budget == data.budget.max()].iloc[0]

answers['1'] = " (" + data_budget['imdb_id'] + ") " + data_budget['original_title'] +  " with a budget of " + str(data_budget['budget']) + "$"

print(answers['1'] )

 (tt1298650) Pirates of the Caribbean: On Stranger Tides with a budget of 380000000$

ВАРИАНТ 2

In [24]:
data_budget = data.loc[data.budget.sort_values(ascending=False).index[0]]

answers['1'] = "(" + data_budget['imdb_id'] + ") " + data_budget['original_title'] +  " with a budget of " + str(data_budget['budget']) + "$"

print(answers['1'] )

' (tt1298650) Pirates of the Caribbean: On Stranger Tides with a budget of 380000000$'

# 2. Какой из фильмов самый длительный (в минутах)?

In [289]:
data_time = data[data.runtime == data.runtime.max()].iloc[0]

title = data_time['original_title']
imdb_id = "(" + data_time['imdb_id'] + ")"
duration = str(data_time['runtime'])

answers['2'] = f'{imdb_id} "{title}"  with duration of {duration} min'

print(answers['2'])

(tt0279111) "Gods and Generals"  with duration of 214 min

In [33]:
data_time = data.loc[data.runtime.sort_values(ascending=False).index[0]]

title = data_time['original_title']
imdb_id = "(" + data_time['imdb_id'] + ")"
duration = str(data_time['runtime'])

answers['2'] = f'{imdb_id} "{title}"  with duration of {duration} min'

print (answers['2'])

(tt0279111) "Gods and Generals"  with duration of 214 min

# 3. Какой из фильмов самый короткий (в минутах)?

In [34]:
data_time = data[data.runtime == data.runtime.min()].iloc[0]

title = data_time['original_title']
imdb_id = "(" + data_time['imdb_id'] + ")"
duration = str(data_time['runtime'])

answers['3'] = f'{imdb_id} "{title}"  with duration of {duration} min'

print(answers['3'])

(tt1449283) "Winnie the Pooh"  with duration of 63 min

In [35]:
data_time = data.loc[data.runtime.sort_values(ascending=False).index[-1]]

title = data_time['original_title']
imdb_id = "(" + data_time['imdb_id'] + ")"
duration = str(data_time['runtime'])

answers['3'] = f'{imdb_id} "{title}"  with duration of {duration} min'

print (answers['3'])

(tt1449283) "Winnie the Pooh"  with duration of 63 min

In [36]:
data_time = data.loc[data.runtime.sort_values(ascending=True).index[0]]

title = data_time['original_title']
imdb_id = "(" + data_time['imdb_id'] + ")"
duration = str(data_time['runtime'])

answers['3'] = f'{imdb_id} "{title}"  with duration of {duration} min'

print (answers['3'])

(tt1449283) "Winnie the Pooh"  with duration of 63 min

# 4. Какова средняя длительность фильмов?

In [40]:
average_time = round(data.runtime.mean())

answers['4'] = f' The average length of a film is {average_time} minutes.'

print(answers['4'])

 The average length of a film is 110 minutes.

# 5. Каково медианное значение длительности фильмов?

In [42]:
median_time = round(data.runtime.median())

answers['5'] = f' The median length of a film is {median_time} minutes.'

print(answers['5'])

 The median length of a film is 107 minutes.

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [50]:
# Для этого задания была создана отдельная колонка в предобработке
# For this task, a separate column was created in preprocessing
max_profit = data[data.profit == data.profit.max()].iloc[0]

title = max_profit['original_title']
imdb_id = "(" + max_profit['imdb_id'] + ")"
profit = str(max_profit['profit'])

answers['6'] = f'{imdb_id} "{title}" is the most profitabel move which make ${profit}'
print(answers['6'])

(tt0499549) "Avatar" is the moust profitabel move which make $2544505847

Вариант 2

In [52]:
max_profit = data.loc[data.profit.sort_values(ascending=False).index[0]]

title = max_profit['original_title']
imdb_id = "(" + max_profit['imdb_id'] + ")"
profit = str(max_profit['profit'])

answers['6'] = f'{imdb_id} "{title}" is the most profitabel move which make ${profit}'
print(answers['6'])

(tt0499549) "Avatar" is the moust profitabel move which make $2544505847

# 7. Какой фильм самый убыточный?

In [58]:
max_loss = data.loc[data.profit.sort_values(ascending=False).index[-1]]

title = max_loss['original_title']
imdb_id = "(" + max_loss['imdb_id'] + ")"
profit = str(max_loss['profit'])

answers['7'] = f'{imdb_id} "{title}" is movie with the biggest loss of {profit}$'
print(answers['7'])

(tt1210819) "The Lone Ranger" is movie with the biggest loss of -165710090$

Вариант 2

In [59]:
max_loss = data[data.profit == data.profit.min()].iloc[0]

title = max_loss['original_title']
imdb_id = "(" + max_loss['imdb_id'] + ")"
profit = str(max_loss['profit'])

answers['7'] = f'{imdb_id} "{title}" is movie with the biggest loss of {profit}$'
print(answers['7'])

(tt1210819) "The Lone Ranger" is movie with the biggest loss of -165710090$

Вариант 3

In [60]:
max_loss = data.loc[data.profit.sort_values(ascending=True).index[0]]

title = max_loss['original_title']
imdb_id = "(" + max_loss['imdb_id'] + ")"
profit = str(max_loss['profit'])

answers['7'] = f'{imdb_id} "{title}" is movie with the biggest loss of {profit}$'
print(answers['7'])

(tt1210819) "The Lone Ranger" is movie with the biggest loss of -165710090$

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [63]:
profit_count = len(data[data.profit > 0])

answers['8'] = f' {profit_count} moves are profitable.' 

print(answers['8'])

 1478 moves are profitable.

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [80]:
data_2008 = data[data.release_year == 2008]
MaxRevenu_2008 = data_2008[data_2008.revenue == data_2008.revenue.max()].iloc[0]

title = MaxRevenu_2008['original_title']
imdb_id = "(" + MaxRevenu_2008['imdb_id'] + ")"
revenue = str(MaxRevenu_2008['revenue'])

answers['9'] = f'The highest grossing film of 2008 is {imdb_id} "{title}" with the revenue of {revenue}$.  '

print(answers['9'])

The highest grossing film of 2008 is (tt0468569) "The Dark Knight" with the revenue of 1001921825$.

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [82]:
data_2012_14 = data[(2012 <= data.release_year) & (data.release_year <= 2014)]
MaxLoss_2012_14 = data_2012_14[data_2012_14.profit == data_2012_14.profit.min()].iloc[0]

title = '"' + MaxLoss_2012_14['original_title'] + '"'
imdb_id = "(" + MaxLoss_2012_14['imdb_id'] + ")"
loss = str(MaxLoss_2012_14['profit'])

answers['10'] = f'The most unprofitable film from 2012 to 2014 is {imdb_id} {title} with {loss} of loss. '
print(answers['10'])

The most unprofitable film from 2012 to 2014 is (tt1210819) "The Lone Ranger" with -165710090 of loss.

# 11. Какого жанра фильмов больше всего?

ВАРИАНТ 1 *Работает если не применить функцию splitter на разделение жанров в предобработке* 

*Works if you do not use the splitter function to separate genres in preprocessing *

In [120]:
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()[:1]

TypeError: Cannot use .str.cat with values of inferred dtype 'mixed'.

ВАРИАНТ 2

In [128]:
genres_max = cols_counter (data["genres"])

genre_answ = genres_max.index[0]
count_answ = genres_max.iloc[0].col

answers['11'] = f' {genre_answ} genre occurs {count_answ} times'
print(answers['11'])

 Drama genre occurs 782 times

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [136]:
profit_genre = cols_counter(data[data.profit > 0]["genres"])

ProfitGanre_answ = profit_genre.index[0]
ProfitCount_answ = profit_genre.iloc[0].col

answers['12'] = f'The largest number of profit films came out in the {ProfitGanre_answ} genre. There are {ProfitCount_answ} of them.'
print(answers['12'])

The largest number of profit films came out in the Drama genre. There are 560 of them.

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [156]:
direc_revenue = data[["director","revenue"]].explode("director").groupby(by = 'director').revenue.sum()\
                .sort_values(ascending = False)

direc_name = direc_revenue.index[0]
total_revenue = direc_revenue[0]
answers['13'] = f'The director {direc_name} has the largest film box office. Their total amount is ${total_revenue}. '
print(answers['13'])

The director Peter Jackson has the largest film box office. Their total amount is $6490593685.

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [167]:
data_exp = data[["genres","director"]].explode("genres").explode("director")

direc_action = data_exp[data_exp.genres=="Action"]\
        .groupby(by = 'director')\
        .director\
        .agg(['count'])\
        .sort_values(by='count', ascending=False)\
        .head(10)


direc_name = direc_action.index[0]
movie_count = direc_action["count"][0]

answers['13'] = f' {direc_name} shots the bigges amount of Action films. There are {movie_count} Action films in total.'
print(answers['13'])

 Robert Rodriguez shots the bigges amount of Action films. There are 9 Action films in total.

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [174]:
cast_revenue = data[data.release_year == 2012][['cast', 'revenue']].explode('cast').groupby(by = 'cast')\
    .revenue.sum()\
    .sort_values(ascending = False)

cast_name = cast_revenue.index[0]
TotalCast_revenue = cast_revenue[0]

answers['15'] = f'The highest box office receipts in 2012 were brought by films with {cast_name }. Their sum is {TotalCast_revenue}.' 

print (answers['15'])

The highest box office receipts in 2012 were brought by films with Chris Hemsworth. Their sum is 2027450773.

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [176]:
HighBudget_cast = data[data.budget > data.budget.mean()]['cast'].explode().value_counts()

HighBudget_name = HighBudget_cast.index[0]
HighBudge_count = HighBudget_cast[0]

answers['16'] = f'{HighBudget_name} has starred in the largest number of high-budget films. There are {HighBudge_count} of them.'

print(answers['16'])

Matt Damon has starred in the largest number of high-budget films. There are 18 of them.

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [178]:
data_exp17 = data[["genres", "cast"]].explode("cast")

NC_ganres = data_exp17[data_exp17.cast =="Nicolas Cage"]["genres"].explode().value_counts()


Top_NCganres = NC_ganres.index[0]
NCganres_count = NC_ganres[0]

answers['17'] = f' Nicolas Cage has been shoted mostly in films of the genre {Top_NCganres}. There are {NCganres_count} films in total.'

print(answers["17"])

 Nicolas Cage has been shoted mostly in films of the genre Action. There are 17 films in total.

# 18. Самый убыточный фильм от Paramount Pictures

In [207]:
ParmPict_loss = data[data.production_companies.str.contains('Paramount Pictures')].sort_values(['profit'], ascending=True)

title = ParmPict_loss['original_title']
imdb_id = "(" + ParmPict_loss['imdb_id'] + ")"
revenue = str(ParmPict_loss['profit'])


answers['18'] =f'The most unprofitable film from Paramount Pictures is {ParmPict_name} with total loss of {ParmPict_TotalLoss} $ '
print(answers['18'])

The most unprofitable film from Paramount Pictures is K-19: The Widowmaker with total loss of -64831034 $

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [199]:
Best_Year = data[["revenue","release_year"]].groupby(by = 'release_year').revenue.sum().sort_values(ascending = False)

Best_Year_name = Best_Year.index[0]
Best_total_revenue = Best_Year.iloc[0]

answers['19'] = f'{Best_Year_name} is the most successful year. The amount of box office receipts is {Best_total_revenue}. '

print(answers["19"])

2015 is the most successful year. The amount of box office receipts is 25449202382.

# 20. Какой самый прибыльный год для студии Warner Bros?

In [209]:
WarnerBros = data[data.production_companies.str.contains('Warner Bros')]

WarnerBros_year = WarnerBros.groupby('release_year')['profit'].sum().sort_values(ascending=False).idxmax()


answers['20'] = f' {WarnerBros_year} most Profitable Year for Warner Bros Studios'
print(answers['20'])

 2014 most Profitable Year for Warner Bros Studios

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [218]:
productive = data.release_date.dt.month.value_counts().idxmax()

answers['21'] = f' Most films released in month №{productive} '
print(answers['21'])

 Most films released in month №9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [235]:
month = data.release_date.dt.month.value_counts()
summer_count = month.loc[6] + month.loc[7] + month.loc[8]

answers['22'] = f'In total, {summer_count} films were released in the summer.'
print(answers['22'],)

In total, 450 films were released in the summer. 147

# 23. Для какого режиссера зима – самое продуктивное время года?

In [239]:

winter_directors = data[(data.release_date.dt.month==12)|(data.release_date.dt.month==1)|(data.release_date.dt.month==2)]\
        ["director"].explode().value_counts()

answers['23'] = winter_directors.index[0]

print(answers['23'])

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [241]:
long_name = data.copy()
long_name['original_title'] = long_name.original_title.apply(lambda x: len(x))
long_name['production_companies'] = long_name.production_companies.str.split("|")
long_name = long_name.explode('production_companies')
answers['24'] = long_name.groupby(['production_companies'])['original_title'].mean().idxmax()
answers['24']

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [253]:
data25 = data[["overview","production_companies"]]\
        .explode("production_companies")

data25["overview_numwords"] = data25['overview'].map(
    lambda x: len(str(x).split(" ")))

ans25 = data25\
        .groupby(by = 'production_companies')\
        .overview_numwords.mean()\
        .sort_values(ascending = False)

answers['25'] = ans25.index[0]
display (data25.sort_values(['overview_numwords'],ascending=False ))

,overview,production_companies,overview_numwords
711,"[The, photographer, Leon, lives, with, his, gi...",Lions Gate Films|Lakeshore Entertainment|Green...,175
170,"[Fourteen, hundred, years, ago,, a, tormented,...",Paramount Pictures|Metro-Goldwyn-Mayer (MGM)|R...,169
964,"[Bucum, Jackson, (Cube), is, a, bounty, hunter...",New Line Cinema,166
1086,"[Six, months, after, the, events, depicted, in...",Village Roadshow Pictures|NPV Entertainment|He...,161
1373,"[The, chief, spokesperson, and, lobbyist, Nick...",Fox Searchlight Pictures|Room 9 Entertainment,161
...,...,...,...
1176,"[Story, of, the, relationship, between, the, p...",Focus Films,12
579,"[Two, bank, robbers, fall, in, love, with, the...",Cheyenne Enterprises|Epsilon Motion Pictures|E...,11
956,"[Two, straight, men, mistakenly, end, up, on, ...",Motion Picture Corporation of America|Artisan ...,11
24,"[The, men, who, made, millions, from, a, globa...",Paramount Pictures|Plan B Entertainment|Regenc...,10
1781,"[Singer, Dewey, Cox, overcomes, adversity, to,...",Columbia Pictures Corporation|Apatow Productions,10

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [261]:
persent = np.percentile(data['vote_average'], 99)
best_movie = data[data.vote_average > persent]
answers['26'] = best_movie.groupby(['original_title'])['vote_average'].max().sort_values(ascending=False)
answers['26']

original_title
The Dark Knight                                  8.1
Inside Out                                       8.0
Interstellar                                     8.0
Room                                             8.0
The Imitation Game                               8.0
12 Years a Slave                                 7.9
Gone Girl                                        7.9
Guardians of the Galaxy                          7.9
Inception                                        7.9
Memento                                          7.9
The Grand Budapest Hotel                         7.9
The Lord of the Rings: The Return of the King    7.9
The Pianist                                      7.9
The Wolf of Wall Street                          7.9
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [281]:
cast_counter = Counter()
for casts in data.cast:
    path = list(combinations(casts, 2))
    cast_counter += Counter(path)
answers['27'] = str(cast_counter.most_common(1))[4:20] + ' & ' + str(cast_counter.most_common(1))[24:36]
answers['27']

'Daniel Radcliffe & Rupert Grint'

# Submission

In [290]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': ' (tt1298650) Pirates of the Caribbean: On Stranger Tides with a budget of 380000000$',
 '2': '(tt0279111) "Gods and Generals"  with duration of 214 min'}

In [283]:
# и убедиться что ни чего не пропустил)
len(answers)

1